kaggle/input/blood-vessel-segmentation/test/
kaggle/input/blood-vessel-segmentation/train/
kaggle/working/checkpoints/se_resnet50-ce0d4300.pth
kaggle/working/
blood-vessel-segmentation/
data/
kaggle/input/
*.pyc

.cache/